<div class="d-flex justify-content-between align-items-center topnav">
  <button class="btn btn-primary btn-sm" (click)="ngAuthService.SignOut()">
    Sign Out
  </button>
  <input type="text" class="form-control-sm" id="inputPassword2" placeholder="search">
  <button class="btn btn-danger btn-sm" (click)="ngAuthService.SignOut()">
upload video
  </button>

</div>


<div class="container" style="width:600px">

<div class="my-3">
  <app-upload-form></app-upload-form>
</div>

<div class="my-2">
  <app-upload-list></app-upload-list>
</div>
</div>

